/* -------------------------- Reset estilos globales  */
:root {
    --backgroundColor: rgb(0, 0, 0);
    --letterColor: rgb(0, 150, 220);
    --linksColor: rgb(0, 150, 220);
    --fontColor: white;
    --bgColorCard: #16181c;
    --textInput: #71767b;
  }
  
* {
    margin: 0%;
    padding: 0%;
    color: var(--letterColor);
    font-family: 'Quicksand', sans-serif;
}
  
body {
    background-color: var(--backgroundColor);
}
  
ul,
li {
    text-decoration: none;
    list-style: none;
}
  
a {
    text-decoration: none;
    color: var(--linksColor);
}

  
p {
    color: var(--fontColor);
}

/* ------------- Estilos para card de Twitter --------------------------------------- */

.main-twitter {
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
}


.card-tweet {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 650px;
    background-color: var(--bgColorCard);
    padding: 50px;
    border-radius: 20px;
}


.avatar img {
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.contain {
    display: grid;
    grid-template-rows: auto 1fr;
}

@media (max-width: 640px ) {
    .contain
}

.header-contain {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    margin-bottom: 5px;
    justify-items: center;
    align-items: center;
}

.header-contain p {
    margin: 0 5px;
    color: var(--textInput);
}

.header-contain p:nth-child(1) {
    font-weight: 700;
    margin-left: 0;
    color: var(--fontColor);
}

.header-contain img {
    width: 20px;
    grid-column: end;
}

.hashtags {
    color: var(--linksColor);
}

/* -------------------------- Inputs -------------------------- */
/*
.inputs {
    display: grid;
    place-items: center;
    margin-bottom: 50px;
}
*/




.container-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    gap: 20px;
    margin: 0 40px;
    grid-template-areas: 
    "header header header"
    "footer . footer";
}

#btn {
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: var(--linksColor);
    width: 200px;
}

#inputContain, #inputHashtags {
    height: 70px;
    width: 280px;
}



/* ---------------------------------------------------- Estilos movil --------------------------------- */

@media (max-width: 640px ) {
    .card-tweet {
        width: 350px;
        padding: 20px;
        grid-template-columns: auto 1fr;
        margin-right: 5px;
        margin-left: 10px;
    }

    .avatar img {
        width: 35px;
    }

    .main-twitter p{
        font-size: 12px;
    }

    /*--- estilos inputs ---*/

    .inputs {
        width: 100%;
        margin-top: 50px;
    }

    .container-inputs {
        display: grid;
        align-items: center;
        justify-items: center;
        width: 100%;
    }

    .container-inputs input {
        width: 280px;
        height: 20px;
    }

    #inputContain, #inputHashtags {
        height: 70px;
        width: 280px;
    }
}