:root {
    --backgroundColor: rgb(0, 0, 0);
    --letterColor: rgb(0, 150, 220);
    --linksColor: rgb(0, 150, 220);
    --fontColor: white;
    --bgColorCard: #16181c;
    --textInput: #71767b;
  }
  
* {
    margin: 0%;
    padding: 0%;
    color: var(--letterColor);
    font-family: 'Quicksand', sans-serif;
}
  
body {
    background-color: var(--backgroundColor);
}
  
ul,
li {
    text-decoration: none;
    list-style: none;
}
  
a {
    text-decoration: none;
    color: var(--linksColor);
}

  
p {
    color: var(--fontColor);
}

/*Estilos para card de Twitter*/

.main-twitter {
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
}

.card-tweet {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 650px;
    background-color: var(--bgColorCard);
    padding: 50px;
    border-radius: 20px;
}

.avatar img {
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.contain {
    display: grid;
    grid-template-rows: auto 1fr;
}

.header-contain {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    margin-bottom: 5px;
    justify-items: center;
    align-items: center;
}

.header-contain p {
    margin: 0 5px;
    color: var(--textInput);
}

.header-contain p:nth-child(1) {
    font-weight: 700;
    margin-left: 0;
    color: var(--fontColor);
}

.header-contain img {
    width: 20px;
    grid-column: end;
}

.hashtags {
    color: var(--linksColor);
}